{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href=""><img src="{{ asset('img/logoName.png') }}" class="logo" id="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a id="explications" class="nav-link js-scroll-trigger" href="{{ path('index') }}">Mode d'emploi</a>
                    </li>

                    <li class="nav-item">
                        <a id="inscription" class="nav-link js-scroll-trigger" href="{{ path('security_registration') }}" >S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a id="connection" class="nav-link js-scroll-trigger" href="{{ path('security_login') }}" >Connexion</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header class="currentMasthead" style="background-image: url({{ asset('img/bgstar2.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="site-heading">
                        <span class="subheading">Formulaire de contact</span>
                        <img src="{{ asset('img/logo2.png') }}" class="logo2" style="width: 20%; margin-bottom: 40px;">

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 ">
                    <h4 style="color: #d6004f;">Mon enfant</h4>
                    {{ form_start(form, {'attr' : {'class': 'contactNanny'}}) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Nom</label>
                                {{ form_widget(form.childLastName) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Prénom</label>
                                {{ form_widget(form.childFirstName) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Date de naissance ou terme</label>
                                {{ form_widget(form.dateBirth) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Date début de garde souhaitée</label>
                                {{ form_widget(form.startDate) }}
                            </div>
                        </div>

                        <label >Jours d'acceuil souhaités :</label>
                        <div class="row" style="margin-left: 1em;">
                            {{ form_widget(form.daysChildCare) }}
                        </div>

                        <hr class="mb-4">

                        <h4 class="mb-3">Mes informations</h4>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Nom</label>
                                {{ form_widget(form.parentLastName) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Prénom</label>
                                {{ form_widget(form.parentFirstName) }}
                            </div>
                        </div>

                        <label >Lien de parenté avec l'enfant :</label>

                        <div class="row" style="margin-left: 1em;">
                            <div class="col-md-4 mb-3">
                                {{ form_widget(form.relation) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Email</label>
                            {{ form_widget(form.email) }}
                        </div>

                        <div class="mb-3">
                            <label>Téléphone</label>
                            {{ form_widget(form.phone) }}
                        </div>

                        <div class="mb-3">
                            <label>Message</label>
                            {{ form_widget(form.message, {'attr': {'rows': 5}}) }}
                        </div>

                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block submitButton" type="submit">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}