{% extends 'base.html.twig' %}

{% block title %}Mes enfants{% endblock %}

{% block body %}
    {% include 'common/navbar.html.twig' %}

    <header class="currentMasthead" style="background-image: url({{ asset('img/bgstar2.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="site-heading">
                        <span class="subheading">Mon espace Nounou</span>
                        <img src="{{ asset('img/logo2.png') }}" class="logo2" style="width: 20%; margin-bottom: 40px;" alt="logo">

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="childListNanny">
        <h4 class="titleChild">LES ENFANTS QUE JE GARDE</h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if childsList is not empty %}
                        <ul>
                            {% for child in childsList %}
                                <li class="timeline-inverted">
                                    <div class="row align-items justify-content-center">
                                        <div class="timeline-image ">
                                            <img class="rounded-circle img-fluid" src="{{ asset('img/child.png') }}" alt="">
                                        </div>
                                        <div class="timeline-panel col-md-3">
                                            <div class="timeline-heading">
                                                <h4 class="nameChild">{{ child.firstName }}</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <a href="{{ path('security_createArticle', {id: child.id}) }}" class="text-muted"><i class="fas fa-pencil-alt" style="margin-right: .5em;"></i>Ecrire dans le journal</a><br>
                                                <a href="{{ path('security_readChildInfos', {id: child.id}) }}" class="text-muted"><i class="far fa-file-alt" style="margin-right: .75em;"></i>Lire les informations</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted text-center">Pour le moment cette section est vide</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}