{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href=""><img src="{{ asset('img/logoName.png') }}" class="logo" id="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a id="explications" class="nav-link js-scroll-trigger" href="{{ path('index') }}">Mode d'emploi</a>
                    </li>

                    <li class="nav-item">
                        <a id="inscription" class="nav-link js-scroll-trigger" href="{{ path('security_registration') }}" >S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a id="connection" class="nav-link js-scroll-trigger" href="{{ path('security_connection') }}" >Connexion</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header class="currentMasthead" style="background-image: url({{ asset('img/bgstar2.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="site-heading">
                        <span class="subheading">CONNECTION</span>
                        <img src="{{ asset('img/logo2.png') }}" class="logo2" style="width: 20%; margin-bottom: 40px;">

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="pricing py-5">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-price text-center">NOUNOU</h5>
                            <hr>
                            <form action="{{ path('security_login') }}" method="POST" class="form-signin">
                                <div class="form-label-group">
                                    <label for="inputEmail">Adresse mail</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="votre@mail.fr" required_name="_username">
                                </div>

                                <div class="form-label-group">
                                    <label for="inputPassword">Mot de passe</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required_name="_password" >
                                </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Se connecter</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Plus Tier -->
                <div class="col-lg-6">
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-price text-center">PARENTS</h5>
                            <hr>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <label for="inputEmail">Adresse mail</label>
                                    <input type="email" id="inputEmail" class="form-control" placeholder="votre@mail.fr" required>
                                </div>

                                <div class="form-label-group">
                                    <label for="inputPassword">Mot de passe</label>
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase parents" type="submit">Connexion</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Pro Tier -->
            </div>
        </div>
    </section>


{% endblock %}
