{% extends 'base.html.twig' %}

{% block title %}Mes enfants{% endblock %}

{% block body %}
    {% include 'common/navbar.html.twig' %}

    <header class="currentMasthead" style="background-image: url({{ asset('img/bgstar2.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="site-heading">
                        <span class="subheading">Mon espace Nounou</span>
                        <img src="{{ asset('img/logo2.png') }}" class="logo2" style="width: 20%; margin-bottom: 40px;" alt="logo">

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section >
        <div class="container">
            <h4 class="h4Journal">REMPLIR LE JOURNAL</h4>
            {{ form_start(form, {'attr' : {'id': 'formJournal'}}) }}
                <label class="my-2">Date du jour :</label><br>
                {{ form_widget(form.datetime) }}

                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Biberons et repas </label><br>
                        {{ form_widget(form.meal, {'attr': {'rows': 5}}) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Dodos </label><br>
                        {{ form_widget(form.sleep, {'attr': {'rows': 5}}) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Hygiène / selles </label><br>
                        {{ form_widget(form.layers, {'attr': {'rows': 5}}) }}
                    </div>
                    <div class="form-group col-md-3">
                        <label>Santé </label><br>
                        {{ form_widget(form.health, {'attr': {'rows': 5}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Activités et sorties </label><br>
                        {{ form_widget(form.activity, {'attr': {'rows': 5}}) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Notes </label><br>
                        {{ form_widget(form.notes, {'attr': {'rows': 5}}) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </section>
    <hr>
    {% if articles is not empty %}
    <section class="archives">
        {% for article in articles %}
        <div class="container">
            <h4>{{ article.datetime | date("d/m/Y") }}</h4>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="meal">Biberons et repas </label><br>
                    <p>{{ article.meal }}</p>
                </div>
                <div class="form-group col-md-3">
                    <label for="meal">Dodos </label><br>
                    <p>{{ article.sleep }}</p>
                </div>
                <div class="form-group col-md-3">
                    <label for="meal">Selles </label><br>
                    <p>{{ article.layers }}</p>
                </div>
                <div class="form-group col-md-3">
                    <label for="meal">Santé </label><br>
                    <p>{{ article.health }}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="meal">Activités et sorties </label><br>
                    <p>{{ article.activity }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="meal">Notes </label><br>
                    <p>{{ article.notes }}</p>
                </div>
            </div>
            <a href="{{ path('security_createArticle', {id: article.childId, articleId: article.id}) }}" class="btn btn-primary journalModify">Modifier</a>
        </div>
        {% endfor %}
    </section>
    {% endif %}
{% endblock %}