{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href=""><img src="{{ asset('img/logoName.png') }}" class="logo" id="logo" style=" width: 100%;" alt="logoTitle"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a id="explications" class="nav-link js-scroll-trigger" href="{{ path('index') }}">Liste des enfants</a>
                    </li>

                    <li class="nav-item">
                        <a id="inscription" class="nav-link js-scroll-trigger" href="{{ path('security_modifyNannyInfos') }}">Mes informations</a>
                    </li>
                    <li class="nav-item">
                        <a id="inscription" class="nav-link js-scroll-trigger" href="{{ path('security_requestsNanny') }}">Gérer mes demandes</a>
                    </li>
                    <li class="nav-item">
                        <a id="inscription" class="nav-link js-scroll-trigger" href="{{ path('security_logout') }}">Deconnexion</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <header class="currentMasthead" style="background-image: url({{ asset('img/bgstar2.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="site-heading">
                        <span class="subheading">Mon espace Nounou</span>
                        <img src="{{ asset('img/logo2.png') }}" class="logo2" style="width: 20%; margin-bottom: 40px;" alt="logo">

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about">
        <h4 class="titleChild">Mes informations</h4>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 ">
                    <form class="contactNanny" novalidate="">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Nom</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Prénom</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>
                        <div >
                            <label for="lastName">Adresse :</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="date">Code Postal</label>
                                <input class="form-control" type="text" id="example-date-input">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Ville</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="phone">Téléphone <span class="text-muted"></span></label>
                                <input type="phone" class="form-control" id="phone" >
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="lastNameParent">Diplôme</label>
                                <input type="text" class="form-control" id="lastNameParent" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" id="email" placeholder="votre@email.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Description <span class="text-muted"></span></label>
                            <textarea name="meal" class="form-control" rows="5" id="meal"></textarea>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">Modifier le mot de passe</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required="">
                        </div>
                        <div class="form-label-group">
                            <label for="inputPassword">Confirmation mot de passe</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required="">
                        </div>
                        <hr>
                        <button class="btn btn-primary btn-lg btn-block submitButton" type="submit">Enregistrer</button>

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}