<h3>Bonjour {{ firstName }} {{ lastName }},</h3><br><br>

<p>Votre demande de garde d'enfant auprès de {{ nannyFirstName }} {{ nannyLastName }} à été refusée </p>
<p>Nous vous invitons à renouveller votre demande auprès d'une autre Magic Nounou en suivant ce lien : <br>
<a href="{{ path("nannyList")}}">Trouver une nounou</a><br><br>
    Nous vous souhaitons une agréable journée!<br><br>
    L'équipe de Magic Nounou
</p>